head{
    color: #585858;
    background-color: #DBE9EE;
} /*header blue color*/

body {
  font-family: Seravek Light;
  color: #585858;
    font-size: 24px;
} 

h2 {
    font-size: 24px;
}/*font for heading 2*/

.button {
    background-color: #DBE9EE;
    border: none;
    color: #585858;
    padding: 12px 22px;
    text-align: center;
    text-decoration: none;
    font-family: Seravek Light;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
} /*making my buttons attractive*/

.welcome {
  background-color: #DBE9EE;
  text-align: center;
}

.welcome h1 {
  font-size: 36px;
  text-align: center;
}

.welcome img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


.lang {
  font-family: Seravek Light;
  color: #585858;
  font-size: 24px;
}

.mywork {
text-align: center;
}
  
  
li{
  text-align: left; /*alignment of items in list go to the left*/
}

img {
  width: auto; /*photo width adjusted to be porportional to edited height*/
  height: 35%; /*height of picture is 35% of original*/
  border-style: solid;
  border-color: #585858;
  border-width: 5px;
}

video {
  border-style: solid;
  border-color: #585858;
  border-width: 5px;
}

footer {
  background-color: #DBE9EE;
  text-align: center;
  height: 100px;
}

.links {
  font-family: Seravek Light;
  color: #FFF;
  font-size: 24px;
}
