body{
  background-color: Black;
  }
  
h1{
    color: Chartreuse;
    text-allign: center;
   font-family: Courier New;
 }
   
p{
   font-family: Courier New;
   font-size: 20px;
   color: Chartreuse;
 }
  
