body {
  font-family: Seravek Light;
  color: #585858;
    font-size: 24px;
}

.welcome {
  width: 110%;
  background-image: url("http://getwallpapers.com/wallpaper/full/5/e/d/807081-free-download-dark-abstract-backgrounds-1920x1080-meizu.jpg");
}

.welcome h1 {
  color: #FAFAFA;
  font-size: 36px;
  text-align: center;
}

.welcome img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.who {
}


.lang {
  font-family: Seravek Light;
  color: #585858;
  font-size: 24px;
}

   
p{
  
 }
  
li{
  text-align: left; /*alignment of items in list go to the left*/
}

img {
  width: auto; /*photo width adjusted to be porportional to edited height*/
  height: 35%; /*height of picture is 35% of original*/
  border-style: solid;
  border-color: #585858;
  border-width: 5px;
}

video {
  border-style: solid;
  border-color: #585858;
  border-width: 5px;
}

footer {
  background-color: #DBE9EE;
  text-align: center;
  height: 100px;
}

.links {
  font-family: Seravek Light;
  color: #FFF;
  font-size: 24px;
}
